*{
    margin-top: 0;
    padding: 0;
}

.toggle {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50% -50%);
}

input[id="darkmodebutton"] {
    position: relative;
    /* width: 60px;
    height: 30px; */
    width: 120px;
    height: 40px;
    margin: 0 10px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
}

input[id="darkmodebutton"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 80px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow:  0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
}

input:checked[id="darkmodebutton"] {
    background: linear-gradient(0deg, #6dd1ff, #20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
}

input:checked[id="darkmodebutton"]:before {
    left: 40px;
}

input[id="darkmodebutton"]:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 65px;
    height: 4px;
    width: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: .5s;
}

input:checked[id="darkmodebutton"]:after {
    background: #63cdff;
    left: 105px;
    box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

/*
.toggle {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50% -50%);
    text-align: center;
}

h3 {
    margin-bottom: 40px;
    font-family: sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}

.button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f47521;
    transition: 0.4s;
    border-radius: 34px;
}

.switch input {display:none}

.button:before {
    position: absolute;
    content: "";
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 0;
    /* right: 5; */
    /* left: 0px;
    bottom: 0px;
    background-color: #4a91d1;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .button {
    background-color: black;
}

input:checked + .button:before {
    transform: translateX(30px);
} 
*/

